<nav class="navbar">

   <div class="logo">
       <h2>EduRisk</h2>
   </div>

   <div class="nav-links">
       <a href="/" class="<%= activePage === 'home' ? 'active' : '' %>">
           Home
       </a>

       <a href="/about" class="<%= activePage === 'about' ? 'active' : '' %>">
        About
        </a>

       <a href="/risk-result">
           Risk Result
       </a>

       <a href="/student-profile">
           Student Profile
       </a>

       <a href="/management" class="<%= activePage === 'management' ? 'active' : '' %>">
        Management
        </a>

        <a href="/risk-result" class="<%= activePage === 'risk-result' ? 'active' : '' %>">Risk result</a>
        <a href="/student-form" class="<%= activePage === 'student-form' ? 'active' : '' %>">Student form</a>
        <a href="/management" class="<%= activePage === 'management' ? 'active' : '' %>">Management</a>
   </div>

   <div class="profile-circle">
       AD
   </div>

</nav>